/* Navbar */

.navbar{
    background-color: #141414 !important;
}

.navbar .navbar-brand{
    color: white;
    transition-property: all !important;
    transition-duration: 0.4s !important;
    transition-timing-function: ease-in-out !important;
}

.navbar .navbar-brand:hover{
    color: #01ACBE !important;
}

.navbar .navbar-nav li a{
    color:white !important;
    margin-left: 2vw !important;
    transition-property: all !important;
    transition-duration: 0.4s !important ;
    transition-timing-function: ease-in-out;
}

.navbar .navbar-nav li a:hover{
    color: #01ACBE !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black !important;
}
